/* src/components/NativeShare.css */

.native-share-button {
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .native-share-button:hover {
    background-color: #007bb5;
  }