@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    gap: 24px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.25fr;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 24px;
    overflow: visible;
}

.limitandboostandmine{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0.25fr;
    gap: 16px;
    margin-bottom: 18px;
}

.limitandboost{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.playerdetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.playerpoints{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Orbitron", serif;
  width: fit-content;
}

.player-icon{
  width: 40px;
  height: 40px;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.tap-tracker{
  width: 100%;
  flex: 1;
}

.button{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 4px;
    padding: 16px 0px;
    font-size: 1.1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.119) !important; /* Semi-transparent white */
    border-radius: 8px;
    font-weight: 600;
}

.button-icon{
  width: 40px;
}

.player{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-weight: 600;
    font-size: 1.1rem;
}

.player img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: 2px solid #707070; /* Corrected the border property */
}

.tappingareaandprogress{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.tappingarea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.planetprogress {
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Start the progress bar at the bottom */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.119) !important; /* Semi-transparent white */
  }
  
  .progress-container {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar {
    width: 100%;
    background: linear-gradient(0deg, #00c6ff, #0072ff); /* Vertical gradient */
    transition: height 0.3s ease;
    position: absolute;
    bottom: 0;
  }
  .minebutton button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 18px;
    font-weight: 600;
    font-weight: bold;
  }
  
  .minebutton button:disabled {
    cursor: not-allowed;
  }

  .limitandboost{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .boost-button {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    font-weight: 600;
  }
  
  .boost-button.active {
    color: #ffffff; /* White text */
    cursor: pointer;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.119) !important; /* Semi-transparent white */
  }
  
  .boost-button.disabled {
    color: #ffffff; /* White text */
    cursor: pointer;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.119) !important; /* Semi-transparent white */
    cursor: not-allowed;
    opacity: 60%;
  }

  .taplimit{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.119) !important; /* Semi-transparent white */
    font-weight: 600;
  }

  /* Floating Tap Styles */
.flying-tap {
  position: absolute;
  pointer-events: none; /* Allows clicks to pass through */
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Choose a color that stands out */
  animation: floatUp 1s forwards;
  transform: translate(-50%, -50%); /* Center the text */
  user-select: none; /* Prevent text selection */
}

@keyframes floatUp {
  0% {
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    scale: 0.6;
    transform: translate(-50%, -50%) translateY(-100px);
  }
}

.homebackground {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), 
              url('https://res.cloudinary.com/dhy8xievs/image/upload/v1735628823/Homepage_ul0hjn.png');
  background-size: cover; /* Ensures it covers the full container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed; /* Keeps the background fixed on scroll */
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  position: fixed; /* Keeps it fixed in the background */
  top: 0;
  left: 0;
  z-index: -1; /* Places it behind other elements */
}

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  padding: 20px;
}

.overlay-content {
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.1) !important; /* Semi-transparent white */
  backdrop-filter: blur(4px);
  font-weight: 600;
  color: #fff;
  padding: 20px 16px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.overlay-content p{
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.5;
}

.rewards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 28px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reward-item {
  -webkit-backdrop-filter: blur(4px); /* Safari support */
  background-color: rgba(255, 255, 255, 0.045) !important; /* Semi-transparent white */
  backdrop-filter: blur(4px);
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 48%;
  transition: opacity 0.3s ease;
}

.reward-item img {
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

.reward-item[style*="opacity: 0.4"] img {
  filter: grayscale(100%); /* Gray out the image */
}

.day{
  padding: 4px 0px;
  width: 100%;
  border-radius: 12px;
  background-color: #F4C20C;
  color: #000;
}

.reward{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.reward-item.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.reward-item.active {
  cursor: pointer;
}

.collect-button {
  background-color: #F4C20C;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  padding: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
  padding: 24px;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

/* Claimable State: Yellow Button */
.collect-button.claimable {
  background-color: #F4C20C; /* Yellow */
  color: #000000; /* Black Text */
}

/* Not Claimable State: White Button */
.collect-button.not-claimable {
  background-color: #FFFFFF; /* White */
  color: #000000; /* Black Text */
  cursor: not-allowed;
  opacity: 1; /* Slightly Transparent */
}

.cancel-button {
  background-color: #444;
  color: #fff;

}

.collect-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.close {
  background-color: crimson;
  padding: 8px;
  fill: crimson;
}
/* Elastic scaling animation */
@keyframes elastic-scale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.02);
  }
  65% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.tap-animation {
  animation: elastic-scale 0.1s ease;
}

/* Bobbing (Suspension) Animation */
@keyframes bobbing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Moves up by 10px */
  }
  100% {
    transform: translateY(0px);
  }
}

/* Bobbing Animation Class */
.bobbing {
  animation: bobbing 3s ease-in-out infinite;
}


/* --------------------------------------------
   Overlay Styles
   -------------------------------------------- */
   .overlay-container {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Semi-transparent white */
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Make sure it sits above everything else */
  }
  
  .overlay-content {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Semi-transparent white */
    padding: 2.5rem 2rem;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    font-family: 'Roboto', sans-serif;
  }
  
  .overlay-content h2 {
    font-size: 1.75rem;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 0.1rem;
  }
  
  .overlay-content p {
    margin-bottom: 1rem;
    color: #dadada;
  }
  
  .overlay_heading{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .overlay-content button {
    padding: 1rem 1.25rem;
    width: 100%;
    background-color: #f0d20c;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
