.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; /* Center items vertically */
    justify-content: space-around; /* Equal spacing between items */
    box-sizing: border-box;
    padding: 40px 0; /* Adjust top and bottom padding without affecting children */
    background-color: black; /* Ensure the navbar has a clear background */
    position: fixed; /* Keep it fixed at the bottom */
    bottom: 0;
    z-index: 100; /* Keep it above other elements */
}


.icon{
    background-color: rgb(255, 255, 255);
    height: 24px;
    width: 24px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

