.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end; /* Center items vertically */
    justify-content: space-around; /* Equal spacing between items */
    box-sizing: border-box;
    padding: 8px 8px !important; /* Adjust top and bottom padding without affecting children */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* Safari support */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Semi-transparent white */
    position: fixed; /* Keep it fixed at the bottom */
    bottom: 0;
    z-index: 100; /* Keep it above other elements */
    text-decoration: none;
}

.nav-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.icon{
    background-color: rgb(255, 255, 255);
    height: 24px;
    width: 24px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0px;
    font-weight: 500;
    margin-bottom: 8px;
}

.nav-icon{
    width: 48px;
}