#root {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll !important;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: space-between;
  align-content: space-between;
  gap: none;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* App container to manage layout */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll !important;
}

/* Content section to allow scrolling */
.content {
  height: 100%;
  width: 100vw;
  display: flex;
  overflow-y: auto; /* Enable scrolling for content */
  box-sizing: border-box;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;
  justify-content: space-between;
}